.fs-20 {
  font-size: 1.25rem !important;
}
.fs-15 {
  font-size: 0.938rem !important;
}
.fs-14 {
  font-size: 0.875rem !important;
}
.fs-13 {
  font-size: 0.813rem !important;
}
.fs-12 {
  font-size: 0.75rem !important;
}
.fs-11 {
  font-size: 0.688rem !important;
}
.fs-10 {
  font-size: 0.625rem !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.lh-34 {
  line-height: 34px !important;
}
.lh-26 {
  line-height: 26px !important;
}
.lh-25 {
  line-height: 25px !important;
}
.lh-24 {
  line-height: 24px !important;
}
.lh-22 {
  line-height: 22px !important;
}
.lh-20 {
  line-height: 20px !important;
}
.lh-19 {
  line-height: 19px !important;
}
.lh-17 {
  line-height: 17px !important;
}
.text-white {
  color: var(--white);
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-main {
  color: #1b3f7a !important;
}
.text-footer {
  color: var(--footer-text) !important;
}
.text-sub {
  color: #768caf !important;
}
